body{
  border-radius: 400px;
  background-color: lightblue;
  font-family: Helvetica, sans-serif;
  color:black;
  margin-left:200px

}

header{
  width: 60%;
  margin:auto;
}

ul{
  list-style-type: none;
  padding:0;
}

li{
  display: inline;
}

li>a{
  text-decoration: none;
  padding: 10px;
  background-color: brown;
  border-radius: 5px;
  color: white
}
table{
  color: black;
  background-color: white;
}
